body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    
}

.container {
    text-align: center;
    margin-top: 100px;
}

h2 {
    color: #333;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card {
    padding: 20px;
    margin: 0 10px;
    border-radius: 10px;
    background-color: #fff; /* Card background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
